/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    * {
        box-sizing: border-box;
    }
    body {
        margin: 5% 8%;
    }
    main {
        display: flex;
    }
    div {
        background-color: green;
        border: 1px solid;
        text-align: center;
    }
}


/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    * {
        box-sizing: border-box;
    }
    body {
        margin: 5% 8%;
    }
    div {
        background-color: red;
        border: 1px solid;
        text-align: center;
    }
}


/* ##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    * {
        box-sizing: border-box;
    }
    body {
        margin: 5% 8%;
    }
    main {
        display: flex;
    }
    div {
        background-color: yellow;
        border: 1px solid;
        text-align: center;
    }
}